@import "global.css";


@import "sim.css";
/* SimIcon, SimPanel */
@import "os.css";
/* OS */
@import "apps.css";
/* OS-App-specific stuff */
@import "router.css";
/* OS-App-specific stuff */

@import "minimarkdown.css";
/* Mini Markdown support */

@import "pcapviewer.css";
/* PCAPViewer */






/* Tab-Leiste */
.tabs {
    display: flex;
    align-items: flex-end;
    padding-left: 0.5em;
    border-bottom: 1px solid var(--border);
    background: var(--bg);
    height: 36px;
}

/* Einzelner Tab */
.tab {
    appearance: none;
    border: 1px solid var(--border);
    border-bottom: none;
    background: #e5e5e5;
    padding: 0.4em 1em;
    margin-right: 0.25em;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 0.95em;
}

/* Hover */
.tab:hover {
    background: #ddd;
}

/* Aktiver Tab */
.tab.active {
    background: var(--surface);
    font-weight: bold;
    position: relative;
    top: 1px;
    /* sitzt optisch vor dem Content */
}

/* Content-Bereich */
.tab-content {
    display: none;
    width: 100%;
    height: calc(100vh - 36px);
    border-top: none;
}

/* Aktiver Content */
.tab-content.active {
    display: flex;
}

.content {
    flex: 1 0 auto;
}




