stages:
  - build

default:
  image: node:20
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  before_script:
    - node -v
    - npm -v
    - npm ci --cache .npm --prefer-offline

build_dev:
  stage: build
  script:
    - export VITE_APP_VERSION="$CI_COMMIT_SHORT_SHA"
    - npm run build
  artifacts:
    expire_in: 7 days
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'

build_release_tag:
  stage: build
  script:
    - VERSION="${CI_COMMIT_TAG#v}"
    - echo "Release tag: $CI_COMMIT_TAG -> version: $VERSION"

    - npm version "$VERSION" --no-git-tag-version
    - export VITE_APP_VERSION="$VERSION"

    - npm run build
  artifacts:
    expire_in: 30 days
    paths:
      - dist/
      - package.json
      - package-lock.json
  rules:
    - if: '$CI_COMMIT_TAG'
