# .gitlab-ci.yml
#
# Builds:
#  - on branch "development" (build artifacts only)
#  - on tags (release build with version taken from tag)
#

stages:
  - check
  - build

default:
  image: node:20
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  before_script:
    - node -v
    - npm -v
    - npm ci --cache .npm --prefer-offline

typecheck:
  stage: check
  script:
    - npx tsc --noEmit
  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'
    - if: '$CI_COMMIT_TAG'
    - when: never

build_dev:
  stage: build
  script:
    - |
      export VITE_APP_VERSION="$CI_COMMIT_SHORT_SHA"
      npm run build
  artifacts:
    expire_in: 1 day
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'
    - when: never

build_release:
  stage: build
  image: node:20
  script:
    - VERSION="${CI_COMMIT_TAG#v}"
    - npm version "$VERSION" --no-git-tag-version
    - export VITE_APP_VERSION="$VERSION"
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 7 days
  rules:
    - if: '$CI_COMMIT_TAG'
